<%= form_for(@newSong) do |f| %>
 
    <!---->
    <div class="card border-secondary mb-1">
      <div class="card-header">
        Add New Song
      </div>
      <!---->
      <div class="card-body">
        <div class="field">
          <%= f.label :title %><br />
          <%= f.text_field :title, autofocus: true %>
        </div>
        <!---->
        <div class="field">
          <%= f.label :content %><br />
          <%= f.text_area :content, autofocus: true %>
        </div>
        <!---->
        <div class="actions">
          <%= f.submit "Add Song", class: "btn btn-primary" %>
        </div>
        <!---->
      </div>
      <div class="card-footer text-muted">
          With Love
      </div>
        <!---->
    </div>
    <% end %>


    <style>
      input, textarea, select, .uneditable-input{
        border: 1px solid grey;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 5px;
      }
    </style>

  