<!--beginning of row 2, adding another panel for thrends or something xd xd...-->
<div class="row">
	<!--display users avatar image-->
	<div class="col-3">
      <div class="col-sm-12" style="margin-top: -200px;">        
        <%= image_tag User.find(@s.user_id).user_image.url(:medium) %>               
      </div>
      <!--used to display user description, like a short biography-->
      <div class="col-sm-12">
        <h3 style="font-weight: bold;"><%= User.find(@s.user_id).username %></h3>
        <p>
        	<%= User.find(@s.user_id).description %>
        </p>   
      </div>
    </div>
	
	<div class="col-6">
		
		<div class="card border-secondary mb-1">
			<div class="card-header">
				<div class="col-1">
					<%= image_tag User.find(@s.user_id).user_image.url, :size=>"50x50" %>
				</div>
				<div class="col-11 text-muted">
					<a href="/user/<%= User.find(@s.user_id).username %>" class="info-col">
						<%= User.find(@s.user_id).username %>							
					</a>
					  - <%= @s.created_at.to_formatted_s(:short) %>
				</div>
			</div>

	  		<div class="card-body">
	  			<h4 class="card-title"><%= @s.title %></h4>
				<p class="card-text"><%= simple_format(@s.content) %></p>
				<!--checking if the user is the one which owns the post or if the user is administrator-->
					<% if (@s.user == current_user || current_user.admin?) %>
					<%= link_to "Edit", edit_song_path(@s), class: "btn btn-outline-primary btn-sm" %>
					<% end %>
					<% if (@s.user == current_user || current_user.admin?) %>
					<%= link_to "Delete", @s, method: :delete, class: "btn btn-outline-danger btn-sm" %>
					<% end %>
			</div>
			<!--includes like, dislike and comment partials, which need to be refreshed frequently on the page, without reloading the entire page-->
			<div class="card-footer text-muted">
				
			    <div class="col-12">
        			<div class="row">
        				<!--renders likes to the song-->
			            <div class="col-3">
			            	<%= render '/components/song_like' %>
			            </div>
			            <!--renders dislikes to the song-->
			            <div class="col-3">
			                <%= render '/components/song_dislike' %>
			            </div>
			            <!--renders comments for the song-->
			            <div class="col-4">
			            	<%= render '/components/song_comment' %>
			            </div>

			        </div>
			    </div>
			</div>

			<!--adding comments section to the songs-->

			<%= render partial: 'components/comment_form' %>
			<!--rendering reply to the comments form, and replied comments-->					
  			<%= render(partial: 'components/comments', collection: @s.comments) %>
								
			<!--end adding comments section to the songs-->

			<!--end card-->  	
		</div>
		<!--end col-6-->
	</div>
	
	<div class="col-3">				
		<!--lists songs with highest number of likes-->
		<div class="card border-secondary mb-1">
  			<div class="card-body">
			<h5 style="color: grey; font-size: 125%;">Trending Songs</h5>
			<% for @t in @trendsongs%>
              <a href="<%= song_path(@t) %>" class="trendy-col"><%= @t.title %></a><br>
              <br>
            <% end %>			
			</div>
		</div>

	</div>

</div>

<!--<style>
</style>-->

