<%= form_for(@about) do |f| %>
 
    <!---->
<div class="row">
    <div class="col-8 offset-2">
      <p>
      <h3>About "Words of Love"</h3>
      </p>
      <!---->
        <div class="form-group">
          <%= f.label :title %><br />
          <%= f.text_field :title, autofocus: true, class: "form-control" %>
        </div>
        <!---->
        <div class="form-group">
          <%= f.label :content %><br />
          <%= f.text_area :content, autofocus: true, rows: 5, class: "form-control"  %>
          <small class="form-text text-muted">No matter what anybody tells you, words and ideas can change the world. </small>
        </div>
        <!---->
        <div class="form-group">
          <div class="actions">
            <%= f.submit "About", class: "btn btn-primary"%>
          </div>
        </div>
        <!---->
        <!---->
     </div>
</div>

<% end %>

    <style>
      input, textarea, select, .uneditable-input{
        width: 100%;
      }
    </style>