<!--this page purpose is to display all posts of all users as an explore page, meaning to display songs, stories and later on image with implementation of such functionality-->
<div class="row">

	<div class="col-3">
		<div class="card border-secondary mb-1">
			<%= image_tag current_user.profile_image.url, :size=>"253x125" %>
  			<div class="card-body">			
  				<div class="row">
  				<!--adding user informations, avatar image and usernema as well as stats-->
                <div class="col-2"><%= image_tag current_user.user_image.url, :size=>"85x85" %></div>
                <div class="col-10"><h5 style="text-align: center; margin-top: 10px; margin-left: 55px;"> <%= current_user.username %></h5></div>
                </div>
                <div class="row" style="margin-top: 5px;">
                  <div class="col-6" style="font-size: 80%; opacity: 0.7;">SONGS<br>
                    <h6 style="color: #0084B4; font-size: 200%;">
                    	<%= current_user.songs.count %>
                    </h6>
                  </div>
                  <div class="col-6" style="font-size: 80%; opacity: 0.7;">FOLLOWERS<br>
                    <h6 style="color: #0084B4; font-size: 200%;">
                    	<%= current_user.followers.count %>
                    </h6>
                  </div>                
            </div>
			</div>
		</div>

		<div class="card border-secondary mb-1">
  			<div class="card-body">
			<h5 style="color: grey; font-size: 125%;">Trending Songs</h5>
			<% for @t in @trendsongs%>
              <a href="<%= song_path(@t) %>" class="trendy-col"><%= @t.title %></a><br>
              <br>
            <% end %>			
			</div>
		</div>
	</div>

	<div class="col-6">
		<% for @s in @songs %>
		<div class="card border-secondary mb-1">
			<div class="card-header">
				<div class="col-1">
					<%= image_tag User.find(@s.user_id).user_image.url, :size=>"50x50" %>
				</div>
				<div class="col-11 text-muted">
					<a href="/user/<%= User.find(@s.user_id).username %>" class="info-col">
						<%= User.find(@s.user_id).username %>							
					</a> 
					- <%= @s.created_at.to_formatted_s(:short) %>
				</div>
			</div>
  			<div class="card-body">
  			<h4 class="card-title">
  				<a href="<%= song_path(@s) %>" class="link-col"><%= @s.title %></a>
  			</h4>
			<p class="card-text"><%= simple_format(@s.content) %></p>
			</div>

			<div class="card-footer text-muted">
				<!--Time: <%= @s.created_at.to_formatted_s(:short) %>-->
			    <!--<%= time_ago_in_words(@s.created_at) %> ago-->
			    <div class="col-12">
        			<div class="row">

			            <div class="col-3" id="song_like">
			            	<%= render partial: '/components/song_like' %>
			            </div>

			            <div class="col-3" id="song_dislike">
			                <%= render partial: '/components/song_dislike' %>
			            </div>

			            <div class="col-4" id="song_comment">
			            	<%= render partial: '/components/song_comment' %>
			            </div>

			        </div>
			    </div>
			</div>

		</div>
		<% end %>

		<!--start listing user stories on the profile-->

		<% for @s in @stories %>
			<div class="card border-secondary mb-1">
			<div class="card-header">
				<div class="col-1">
					<%= image_tag User.find(@s.user_id).user_image.url, :size=>"50x50" %>
				</div>

				<div class="col-11 text-muted">
					<a href="/user/<%= User.find(@s.user_id).username %>" class="info-col">
					<%= User.find(@s.user_id).username %>
					</a>
					- <%= @s.created_at.to_formatted_s(:short) %>
				</div>
			</div>

		  	<div class="card-body">
		  		<h4 class="card-title">
		  			<a href="<%= story_path(@s) %>" class="link-col"><%= @s.title %></a>
		  		</h4>
					<p class="card-text">
						<%= raw (@s.content.truncate(250)) %>-
	    				<%= link_to "Read more...", story_path(@s) %>
					</p>
			</div>						  	
			</div>
		<% end %>

		<!--end listing stories-->

	</div>

	<div class="col-3">

		<div class="card border-secondary mb-1">
  			<div class="card-body">
  				<div class="col-12">
					<section class="text-muted">
						<div class="row">
							<div class="col-2">
							<i class="fa fa-info-circle" aria-hidden="true"></i>
							</div>
							<div class="col-10">
							<a href="/aboutpages" class="info-col">About</a>
							</div>
						</div> 
						
						<div class="row">
							<div class="col-2">
							<i class="fa fa-question-circle" aria-hidden="true"></i>
							</div>
							<div class="col-10">
							<a href="/helppages" class="info-col">Help</a>
							</div>
						</div> 
						
						<div class="row">
							<div class="col-2">
							<i class="fa fa-certificate" aria-hidden="true"></i>
							</div>
							<div class="col-10">
							<a href="/termspages" class="info-col">Terms</a>
							</div>
						</div> 
						
						<div class="row">
							<div class="col-2">
							<i class="fa fa-history" aria-hidden="true"></i>
							</div>
							<div class="col-10">
							<a href="/cookiepages" class="info-col">Cookies</a>
							</div>
						</div> 
						
						<div class="row">
							<div class="col-2">
							<i class="fa fa-info" aria-hidden="true"></i>
							</div>
							<div class="col-10">
							<a href="/adspages" class="info-col">Ads Info</a>
							</div>
						</div> 
						
						<div class="row">
							<div class="col-2">
							<i class="fa fa-percent" aria-hidden="true"></i>
							</div>
							<div class="col-10">
							<a href="/statuspages" class="info-col">Status</a>
							</div>
						</div>

						<div class="row">
							<div class="col-2">
							<i class="fa fa-info-circle" aria-hidden="true"></i>
							</div>
							<div class="col-10">
							<a href="/infopages" class="info-col">Info</a>
							</div>
						</div>  
						<br>
						<div class="row">
							<div class="col-12">
							<span>
								<i class="fa fa-copyright" aria-hidden="true"></i> 2018 Words of Love
							</span>
							</div>
						</div> 				
					</section>
				</div>
			</div>
		</div>

		<div class="card border-secondary mb-1">
        <div class="card-body">
          <h5 style="color: grey; font-size: 125%;">Trending stories</h5>
            <% for @t in @trendstories %>

            <a href="<%= story_path(@t) %>" class="trendy-col"><%= @t.title %></a><br>
            <br>
            
            <% end %>     
        </div>
    </div>

	</div>

</div>

